* {
    box-sizing: border-box;
}  

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-shadow: 1px 1px 2px #474747;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
    font-size: x-large;
}

#main {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#time {
    align-self: center;
    font-size: xxx-large;
}

#weather {
    display: flex;
    align-items: center;
}

#author {
    font-size: small;
}